* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    
}

body {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.contenar {
    background-image: url('images/mainPageBackGround.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px;
    width: 100%;
    min-height: calc(100vh - 40px);
    border-radius: 20px;
}

button,
label,
.double-round-exist {
    cursor: pointer;
}

input {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 220, 220);
    font-size: 18px;
    font-weight: bold;
}

.begining {
    perspective: 100px;
    transform-style: preserve-3d;
    position: relative;
    transition: transform 2s;
}

.face{
    margin: 15px;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 20px;
    background-size: cover;
    width: 400px;
    height: 600px;
    padding: 10px;
    position: absolute;
    /* position: relative; */
    left: calc(50% - 175px);
    background-size: cover;
    /* backface-visibility: hidden; */
}

.front {
    background-image: url('images/startGameBackGround.jpg');
}

/* .back {
    z-index: -1;
    background-color: rgb(2 180 28);
    transform: rotateY(180deg);
} */

.title {
    text-align: center;
    position: absolute;
    top: 10px;
    left: calc(50% - 87.5px);
    margin: 20px auto;
    font-size: 50px;
    color: white;
    font-family: "Badeen Display", serif;
    font-weight: 400;
}

.game-data {
    margin: 15px;
    padding: 0 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: fit-content;
    height: 400px;
    position: relative;
    left: calc(50% - 185px);
    top: 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.begining .box {
    margin: 30px auto;
    padding: 20px 10px;
    background-color: rgba(225, 0, 0, 0.75);
    border-radius: 10px;
    width: 275px;
    /* height: 75px; */
    color: white;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .contenar {
        margin: 10px;
    }
    .face {
        width: 375px;
        height: 575px;
        left: calc(50% - 200px);
    }
    .game-data {
        height: 375px;
    }
    .begining .box {
        padding: 15px 10px;
    }   
}

.box input {
    width: 50px;
    height: 35px;
    /* padding: inherit; */
    /* margin-top: 5px; */
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    color: red;
    border: 1px solid red;
    transition: 0.5s;
}

.box input:focus {
    outline: none;
    border: 1px solid black;
}

/* .double-round input {
    margin-top: 10px;
} */


/* .double-round label {
    position: relative;
    top: -7px;
} */

.start {
    margin: 15px;
    padding: 10px;
    background-color: red;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    position: relative;
    top: 70px;
    color: white;
    font-size: 20px;
    font-family: "Lalezar", cursive;
    font-weight: bold;
    transition: 0.5s;
    border: 1px solid white;
    transition: 0.5s;
}

.start:hover {
    background-color: white;
    color: red;
}

.players {
    margin: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 5px;
    justify-content: space-evenly;
}

.player {
    margin: 75px 10px;
    padding: 10px;
    background-color: rgb(2 180 28);
    border-radius: 10px;
    width: 350px;
    position: relative;
    z-index: 1;
    transition: transform 0.5s ease;
    box-sizing: content-box;
}

.fa-crown {
    color: gold;
    font-size: 50px;
    position: absolute;
    top: -60px;
    left: calc(50% - 25px);
    transition: 0.5s;
}

.player:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px 5px rgba(0 , 0, 0, 0.5);
}

.player:hover .player-name {
    transform: scale(1.025);
    margin-left: -0.75px;
}

.player::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    background-color: red;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
    border-radius: 10px;
}

.player::before {
    content: 'سكرو';
    font-family: "Oi", serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(255, 255, 255, 0.93);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%) rotate(-50deg);
    font-size: 70px;
}

.player-name {
    width: 100%;
    height: 40px;
    margin: 15px 0;
    padding: 5px;
    border-radius: 5px;
    font-size: 25px;     
    text-align: center;
    border: none;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5);
    color: red;
    transition: transform 0.5s;
    font-weight: bold;
}

.player-name::placeholder {
    color: rgb(2 180 28);
    font-weight: bold;
}

.player-name:focus {
    outline: none;
    border: 3px solid greenyellow;
}

.player label {
    margin: 5px 0;
    padding: 5px;
    font-size: 20px;
}

.player .player-score,
.player .player-total {
    width: 50px;
    height: 30px;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.player .player-score{
    border: none;
    transition: 0.5s;
}

.player .player-score:focus {
    outline: none;
    margin-right: 10px;
}

.player .player-score-label {
    color: #2c2c2c;
    /* color: white;
    text-shadow: 5px 5px 10px rgba(0, 0, 0); */
    font-weight: bold;
    margin-top: 10px;
}

.player .player-score-container {
    display: flex;
    justify-content: space-between;
}

.player .player-total-score-container {
    text-align: center;
    color: #2c2c2c;
    /* color: rgb(255, 220, 220); */
    /* color: white;
    text-shadow: 5px 5px 10px rgba(0, 0, 0); */
    font-weight: bold;
}

.player .player-total-score-container::before {
    content: "";
    width: 220px;
    height: 3px;
    background-color: greenyellow;
    display: block;
    position: relative;
    left: calc(50% - 110px);
    margin: 25px 0 5px;
}

.player .player-total {
    width: 100px;
    margin-left: 45px;
    border: 2px solid red;
}

.player .player-total:focus {
    outline: none;
}

.winner .player-total-score-container::before {
    background-color: gold;
}

.winner:hover .fa-crown {
    transform: scale(1.1);
    text-shadow: 5px 5px rgba(0 , 0, 0, 0.5);
}